$header-height: 64px;
$drawer-width: 240px;


$colorPrimaryMainContrast: #fff;
$colorPrimaryMain: #3f51b5;
$colorPrimaryDark: #303f9f;

:export {
  colorPrimaryMain: $colorPrimaryMain;
  colorPrimaryDark: $colorPrimaryDark;
  colorPrimaryMainContrast: $colorPrimaryMainContrast;
}