.form {
  padding: 0 20px;
}

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.btn {
  padding: 10px !important;
  margin-left: 10px !important;
  color: $colorPrimaryMainContrast !important;
  background-color: $colorPrimaryMain !important;
  &:hover {
    background-color: $colorPrimaryDark !important;
  }
}

.service {
  width: 100%;
}

.code {
  width: 20%;
}

.name {
  width: 70%;
}

.workers {
  width: 95%;
}

.cost {
  width: 50%;
  &_adornment {
    white-space: nowrap;
  }
}

.quantity {
  width: 40%;
}

.price {
  width: 100%;
  text-align: end;
}